/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbnail {
    width: 100%;
    padding-bottom: 56.25%;
}

.bg-hover-opacity-10:hover {
    --bg-opacity: 0.1;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

div#__next {
    height: 100%;
}