/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbnail {
    width: 100%;
    padding-bottom: 56.25%;
}

.bg-hover-opacity-10:hover {
    --bg-opacity: 0.1;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

div#__next {
    height: 100%;
}

#notice-contents > h2 {
    font-size: 1.5rem;
    padding-bottom: 0.4rem;
}

#notice-contents > p {
    font-size: 1rem;
    padding-bottom: 1rem;
}

@media (max-width: 640px) {
    #notice-contents > h2 {
        font-size: 1.25rem;
        padding-bottom: 0.25rem;
    }

    #notice-contents > p {
        font-size: 0.75rem;
        padding-bottom: 0.5rem;
    }
}